/* sets  background for the body*/

body {
    color: black;
    background-color: white;
    background-image: url("usask.jpg");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 950px;
    background-position-y: 300px;
}

label {
    font-size: 20;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="text"] {
    width: 50%;
    padding: 16px 20px;
    border: gray;
    border-radius: 4px;
    background-color: #eff1f0;
}

select {
    color: black;
    width: 52.9%;
    padding: 16px 20px;
    border: gray;
    border-radius: 4px;
    background-color: #eff1f0;
}

textarea {
    width: 50%;
    padding: 16px 20px;
    border: gray;
    border-radius: 4px;
    background-color: #eff1f0;
}

h1 {
    text-align: center;
    font-size: 30;
    font-family: Georgia;
}