
/* The following styles set where the text boxes are located in the createAccount page */

body{
	background-color: #2eff70;
}

h1{
	text-align: center;
}


input{
	width: 350px
}


/* The following styles set the size and color of the small text shown below the password \
and email boxes */
#goodPW{
	font-size: 10px;
	color: red;
}

#PWMatch{
	font-size: 10px;
	color: red;
}

#validEmail{
	font-size: 10px;
	color: red;
}

#validID{
	font-size: 10px;
	color: red;
}

#userTypes{
	width: 340px;
	font-size: 14;
}

#adminPW{
	width: 350px;
	display: none;
}

/* The following style sets where the return button is located */
#return{
	width: auto;
	margin-left: 10px;
	margin-right: 80px;
}

/* The following style sets where width of the submit button */
#submit{
	width: auto;
}


/* The following style sets everything up for the main form including it's center location */
form{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  border: 5px solid black;
}