
/* The following styles set where the text boxes are located in the createAccount page */
h1{
	text-align: center;
}

#fname{
	width: 350px 
}

#lname{
	width: 350px
}


#id{
	width: 350px
}

#email{
	width: 350px
}

#user{
	width: 350px
}

#pw{
	width: 350px
}

#trupw{
	width: 350px
}

/* The following styles set the size and color of the small text shown below the password \
and email boxes */
#goodPW{
	font-size: 10px;
	color: red;
}

#PWMatch{
	font-size: 10px;
	color: red;
}

#validEmail{
	font-size: 10px;
	color: red;
}

#validID{
	font-size: 10px;
	color: red;
}

/* The following stule sets where the return button is located */
#return{
	margin-left: 10px;
	margin-right: 80px;
}


/* The following style sets everything up for the main form including it's center location */
form{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}