body {
	background-color: 626262;
}

form{
  width: 400px;
  border: 15px solid #00B32B;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c5ff98;
}

h1{
	margin-left: 25px;
}

#email{
	width: 350px;
	margin-left: 25px
}

#submitButton{
	margin-left: 318px;
}