/* Sets the background color of the forgot password page to greay*/
body {
	background-color: #000000;
}

/* Sets up the main colors and borders of the forgot password form. Makes the border dark green
and the inside of the form light green and aligns the form in the middle of the page */
form{
  width: 800px;
  height: 475px;
  border: 15px solid #00B32B;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c5ff98;
}



.header img {
  width: 150px;
  float: left;
  margin-left: 10px;
}

.header h1 {
  position: relative;
  left: 200px;
  top: 50px;
  width: 630px;
  background-color: #052400;
  color: #e3e3e3;
  font-size: 50;
}

/* The following three styles ensure that the fields within the forgotPassword form 
are correctly aligned */


h2{
	margin-top: 100px;
	padding-left: 30px;
	padding-bottom: 5px;
	font-family: "Arial";
	color: #052400;
}

#email{
	margin-left: 30px;
	width: 730px;
	height: 30px;
	font-size: 20px;
}

#returnButton{
	margin-left: 50px;
	margin-top: 50px;
	font-size: 20px;
	width: 300px;
}

#submitButton{
	margin-left: 85px;
	margin-top: 50px;
	font-size: 20px;
	width: 300px;
}
