
/* Sets up the alignment of the pretty green backgroup */

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center
}


/* Sets the selecting of candidates form in the middle of the screen 
 with an approrpriate background and border*/

#mainform {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 10px solid #0f9c00;
    border-radius: 25px;
}


/* Sets the main header in the center of the screen and changes the font size of
   this header */
h2{
	text-align: center;
	font-size: 30;
}



/* Sets the correct font size for all text that is not a header */
/* Sets up the alignment and font of the scholarship and participant select panels */
select{
	margin-top: 5px;
	width: 375px;
	font-size: 18;
}

label{
    font-size: 20;
}


/* Turns off the display of the potential candidates until a scholarship is selected */

.applicants {
    display: none;
}


/* Sets the font for the information about shortlisted candidates */

#shortlistInfo {
    font-size: 13;
    color: red;
}


/* Sets the display of a candidates information form in the middle of the screen 
 with an approrpriate background and border*/

#candidateInformationForm {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 10px solid #0f9c00;
    border-radius: 25px;
}


/*The following css commands make all of the labels of the selected applicant info bold and align buttons */

#nameLabel {
    font-weight: bold;
}

#idLabel {
    font-weight: bold;
}

#gpaLabel {
    font-weight: bold;
}

#degreeLabel {
    font-weight: bold;
}

#supportingDoc{
	margin-left: 85px;
}

#shortlist{
	margin-left: 150px;
}

#return{
	margin-left: 130px;
}




