/*Sets the background color of the resetpassword to a green colour*/

body {
    background-color: #00ff8c;
}


/*Aligns the main form of the resetPassword in the center and a bit from the top. Makes the form 360px wide with a black border and 
white background*/

form {
    width: 360px;
    margin: auto;
    margin-top: 125px;
    background-color: white;
    border: 10px solid black;
    padding: 30px;
    border-radius: 25px;
}


/*Aligns the text of the main header in the center*/

h1 {
    text-align: center;
}


/*Makes the password input box 360 pixels wide and 20 pixels long, with a font size of 15*/

#password {
    width: 360px;
    height: 20px;
    font-size: 15;
}


/*Makes the password verification input box 360 pixels wide and 20 pixels long, with a font size of 15*/

#checkPassword {
    width: 360px;
    height: 20px;
    font-size: 15;
}


/*Sets the font size and color for the text under the password input box*/

#goodPW {
    font-size: 11px;
    color: red;
}


/*Sets the font size and color for the text under the password verification input box*/

#PWMatch {
    font-size: 11px;
    color: red;
}